<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Vacants details Page</h1>
    <h2 th:text="'The id is: ' + ${idVacant.getId}"></h2>
    <h2 th:text="'The id is: ' + ${idVacant.getName}"></h2>
    <h2 th:text="'The id is: ' + ${idVacant.getDescription}"></h2>
    <h2 th:text="'The id is: ' + ${idVacant.getDate}"></h2>
    <h2 th:text="'The id is: ' + ${idVacant.getSalary}"></h2>

</body>
</html>